/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #1B192E;
	color: #FFF;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 78px;
	background: #11101d;
	padding: 6px 14px;
	transition: all 0.5s ease;

	.logo_content {
		.logo {
			color: #fff;
			display: flex;
			height: 50px;
			width: 100%;
			align-items: center;
			opacity: 0;
			pointer-events: none;
			transition: all 0.5s ease;

			i {
				font-size: 28px;
				margin-right: 5px;
			}

			.logo_name {
				font-size: 20px;
				font-weight: 400;
			}
		}

		.bx-menu {
			cursor: pointer;
		}
	}

	#btn {
		position: absolute;
		color: #fff;
		top: 6px;
		left: 50%;
		font-size: 20px;
		height: 50px;
		width: 50px;
		text-align: center;
		line-height: 50px;
		transform: translateX(-50%);
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;

		li {
			position: relative;
			height: 50px;
			width: 100%;
			margin: 0 5px;
			list-style: none;
			line-height: 50px;

			.tooltip {
				position: absolute;
				left: 122px;
				top: 0;
				transform: translate(-50%, -50%);
				border-radius: 6px;
				height: 35px;
				width: 122px;
				background: #fff;
				line-height: 35px;
				text-align: center;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
				transition: 0s;
				opacity: 0;
				pointer-events: none;
				display: block;
			}

			input {
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				border-radius: 12px;
				outline: none;
				border: none;
				background: #1d1b31;
				padding-left: 3.125rem;
				font-size: 18px;
				color: #fff;
			}

			.bx-search {
				position: absolute;
				z-index: 99;
				color: #fff;
				font-size: 22px;
				transition: all 0.5s ease;

				&:hover {
					background: #fff;
					color: #1d1b31;
				}
			}

			a {
				display: flex;
				align-items: center;
				color: #fff;
				text-decoration: none;
				transition: all 0.4s ease;
				border-radius: 12px;
				white-space: nowrap;

				&:hover {
					color: #11101d;
					background: #fff;
				}
			}

			i {
				height: 50px;
				min-width: 50px;
				border-radius: 12px;
				line-height: 50px;
				text-align: center;
			}

			&:hover {
				.tooltip {
					transition: all 0.5s ease;
					opacity: 1;
					top: 50%;
				}
			}
		}
	}

	.links_name {
		font-size: 15px;
		font-weight: 400;
		opacity: 0;
		pointer-events: none;
		transition: all 0.5s ease;
	}

	.profile_content {
		position: absolute;
		color: #fff;
		bottom: 0;
		left: 0;
		width: 100%;

		.profile {
			position: relative;
			padding: 10px 6px;
			height: 60px;
			background: none;
			transition: all 0.4s ease;

			.profile_details {
				display: flex;
				align-items: center;
				opacity: 0;
				pointer-events: none;
				white-space: nowrap;

				img {
					width: 45px;
					height: 45px;
					object-fit: cover;
					border-radius: 12px;
				}

				.name_job {
					margin-left: 10px;
				}

				.name {
					font-size: 15px;
					font-weight: 400;
				}

				.job {
					font-size: 12px;
				}

			}

			#logout {
				position: absolute;
				bottom: 5px;
				left: 50%;
				transform: translateX(-50%);
				min-width: 50px;
				line-height: 50px;
				font-size: 20px;
				border-radius: 12px;
				text-align: center;
				transition: all 0.4s ease;
				background: #1d1b31;
				color: #FFF;
			}
		}
	}

	&.active {
		width: 240px;

		.logo_content {
			.logo {
				opacity: 1;
				pointer-events: none;
			}
		}

		#btn {
			left: 90%;
		}

		ul {
			li {
				.tooltip {
					display: none;
				}
			}
		}

		.links_name {
			transition: 0s;
			opacity: 1;
			pointer-events: auto;
		}

		.profile_content {
			.profile {
				background: #1d1b31;

				.profile_details {
					opacity: 1;
					pointer-events: auto;
				}

				#logout {
					left: 88%;
					background: none;
				}
			}
		}
	}
}

.home_content {
	width: 100%;
	padding: 40px 40px 40px 108px;

	.text {
		font-size: 25px;
		font-weight: 500;
		color: #FFF;
	}

	p {
		color: #FFFFFF50;
	}
}